# Eclipse files
.classpath
.settings
.project
.springBeans

# Checkstyle, findbugs and other eclipse plugins
*/.checkstyle
*/.fbExcludeFilterFile
*/.factorypath
*/.apt_generated/

# Jenv configuration
.java-version

# Intellij
.idea/
*.iml
*.iws

# Netbeans files
nbactions.xml

# Maven target folder
target/

# Any left over .svn folders
.svn/

# MAC stuff
.DS_Store

# AWS credentials
*.pem

# Hive
metastore_db/
derby.log

# Job Specific Config
circus-train.yml

